body {
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

button {
  background: #4d5ae5;
  font-family: inherit;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

/* ============== mobile container ============== */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 362px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 362px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ============== tablet container ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 736px;
  }
}
/* ============== desctop container ============== */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.order-service-btn:hover,
.order-service-btn:focus {
  color: #404bbf;
}

/* ============== HEADER FOR MOBYLE STYLES ============== */
.header-container {
  display: flex;
  justify-content: space-between;
}

.menu-list-names {
  display: none;
}
.contacts {
  display: none;
}

.logotype-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 72 px;
  display: flex;
  margin-right: 76px;
  padding: 24px 0;
}

.span-color {
  color: #2e2f42;
}

/* ============== HEADER TABLET STYLES ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .mobile-open-btn {
    display: none;
  }

  .page-header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .logotype-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 72 px;
    display: flex;
    margin-right: 120px;
    padding: 25.5px 0;
  }

  .menu-list-names {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-item {
    position: relative;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-item:hover,
  .menu-item:focus {
    color: #404bbf;
  }

  .contact-list {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 12px;
  }

  .contacts-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  .contact-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    position: absolute;
    top: 100%;
    bottom: -1px;
  }

  .contacts {
    font-style: normal;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-end;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* ============== HEADER DESCTOP STYLES ============== */
@media screen and (min-width: 1158px) {
  .contact-list {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .contact-list-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/* ============== HERO MOBYLE STYLES ============== */

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('./images/hero/bg-mobile.jpg');
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 72px;
  background-size: cover;
  max-width: 768px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.order-service-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

/* ============== HERO TABLET STYLES ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 736px;
  }

  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-title {
    margin-bottom: 36px;
  }
}

/* ============== HERO DESCTOP STYLES ============== */
@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-title {
    margin-bottom: 48px;
  }
}

/* ============== HERO BACKGROUND STYLES ============== */

@media screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('./images/hero/bg-mobile.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('./images/hero/bg-tablet.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('./images/hero/bg.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('./images/hero/bg-mobile@2x.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-tablet@2x.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg@2x.jpg');
  }
}

/* ============== SECTION ADVANTAGES MOBILE STYLES second section ============== */

.icon-cover {
  display: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.adventages-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ============== SECTION ADVANTAGES TABLET STYLES second section ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 736px;
  }

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-list-items {
  text-align: left;
}

.advantages-name {
  text-align: left;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.adventages-description {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 736px;
  }
}

/* ============== SECTION ADVANTAGES DESCTOP STYLES second section ============== */

/* ============== OUR TEAM MOBYLE STYLES THIRD section ============== */

.team-section {
  background-color: #f4f4fd;
}

.team-section-name,
.portfolio-section-named {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-members {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.member-info {
  border-radius: 0px 0px 4px 4px;
  background-color: FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-info-img {
  display: block;
  max-width: 100%;
  height: auto;
  gap: 24px;
}

.social-list-icon:hover,
.social-list-icon:focus {
  fill: #31d0aa;
}
.social-list {
  gap: 24px;
  display: flex;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  gap: 24px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-items {
  width: 40px;
  height: 40px;
  gap: 24px;
}

.social-list-icon {
  gap: 24px;
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.social-list-icon:hover,
.social-list-icon:focus {
  background-color: #404bbf;
}

.name-occupation {
  padding: 32px 0;
  gap: 24px;
}

.team-person,
.member-position {
  text-align: center;
  margin-bottom: 8px;
}

.team-person {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.member-position {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ============== OUR TEAM TABLET STYLES THIRD section ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 736px;
  }

  .team-members {
  display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  gap: 64px;
}
}

/* ============== OUR TEAM DESCTOP STYLES THIRD section ============== */

/* ============== OUR ADVANTAGES MOBYLE STYLES FOURTH section ============== */
.item-description {
display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  gap: 64px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}
.overlay{
  display: none;
}



/* ============== OUR ADVANTAGES TABLET STYLES FOURTH section ============== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 736px;
  }

  
}

/* ============== OUR ADVANTAGES DESCTOP STYLES FOURTH section ============== */


/* ============== MOBILE ONLY - NEW OPEN MENU STYLES ============== */
@media screen and (max-width: 767px) {
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-open-btn-icon {
    stroke: #2f2f37;
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999999;
    border-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mob-menu-contact-list-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mob-menu-links-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 148px;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mob-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    padding-left: 16px;
  }

  .mob-menu-contact-list {
    padding-left: 24px;
  }

  .mob-menu-tel {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
    margin-bottom: 24px;
  }

  .mob-menu-mail {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
  }

  .mob-menu-social-list {
    gap: 16px;
    display: flex;
    padding-right: 40px;
  }

  .mob-menu-social-list-item {
    display: flex;
    gap: 40px;
    width: 24px;
    height: 24px;
  }

  .mob-menu-social-list-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-social-list-link:hover,
  .mob-menu-social-list-link:focus {
    background-color: #31d0aa;
  }

  .mobile-menu-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    opacity: 10%;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid #2e2f42;
    padding: 0;
    line-height: 0;
    stroke: #2e2f42;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* /* ============== BACKDROP STYLES ============== */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
